<!doctype html>
  <html>
	<head>
		<meta charset="utf-8">
	  	<link href="/lib/ionic/css/ionic.css" rel="stylesheet">
	  	<script src="/lib/ionic/js/ionic.bundle.js"></script>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">	
	  	<script src = "/js/UserAccountHome.js"></script>
	  	<script src="/cordova.js"></script>
	</head>

	<body ng-app="userAccountHome">	
		<ion-pane ng-controller="counterController">

			<ion-header-bar class="bar-energized">

				<div class="buttons">
					
					<button class="button button-icon ion-ios-minus-outline" ng-click="counterModel.showDelete=!counterModel.showDelete; counterModel.showMove=false;"></button>	
				
				</div>


				<h1 class="title"> Home </h1>	

				<div class="buttons">
					
					<button class="button" ng-click="counterModel.showMove=!counterModel.showMove; counterModel.showDelete=false;">Move</button>

				</div>		
				
			</ion-header-bar>

			<ion-content>			
				<ion-list show-delete="counterModel.showDelete" show-reorder="counterModel.showMove">

					<ion-item class="item-remove-animate" ng-repeat="counter in counterModel.counters">
						
						<h2>{{ counter.name }}</h2>

						<i class="icon ion-arrow-up-c" ng-click="addToCounter(counter)"></i>
						<h2 align="right">{{ counter.count }}</h2>
						<i class="icon ion-arrow-down-c" ng-click="subtractFromCounter(counter)"></i>


						

						<ion-delete-button ng-click="deleteCounter($index)" class="ion-minus-circled"></ion-delete-button>

						<ion-reorder-button class="ion-navicon" on-reorder="moveCounter(counter, $fromIndex, $toIndex)"></ion-reorder-button>

					</ion-item>

					<ion-item class="item-remove-animate">
						<form name="newCounterForm">

							<label class="item item-input">		    			
	                		<input type="text" placeholder="Enter a name for your counter" ng-model="newCounterName">                	
	            			</label>
	            			<br>
	            			<button ng-click="addCounter(newCounterName); newCounterName='';">Add Counter!</button>

						</form>
					</ion-item>

				</ion-list>

			</ion-content>

		</ion-pane>
	</body>

</html>