<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">         
    <script src="lib/ionic/js/ionic.bundle.js"></script>    
    <script src="cordova.js"></script>        
   	<script src="js/HomePage.js"></script>
  </head>


  <body ng-app="homePage">
  <ion-pane>
    <div ng-controller = "homeController">
      <ion-header-bar class="bar-energized">
        <h1 class="title">Meazurements</h1>
      </ion-header-bar>                
	    <ion-nav-view></ion-nav-view>
    </div>
  </ion-pane> 
   
  <script type="text/ng-template" id="LoginPagePartial.html">
    <ion-view>
      <ion-content> 
        <h1>Be Productive Today!</h1>            
        <form ng-submit="goToAccount()" novalidate="novalidate" name="loginForm">

          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="email" placeholder="Enter username" ng-model="username" ng-required="true">
          </label>        

          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" placeholder="Enter password" ng-model="pWord" ng-required="true">
          </label>

          <br>
          <button type="submit">Login</button>
            
        </form>

        <br>

        <button ng-click="forgot()">Forgot Password?</button>
        <br><br>
        <button ng-click="signUp()">Don't have an account?</button>
                     
      </ion-content>
    </ion-view>
  </script>

  <script type="text/ng-template" id="signUp.html">
      <ion-view>
        <ion-content>
  
      Fill out the information below: <br><br>

      <!--form ng-controller="signUpController" name="signUpForm" ng-submit="signUp()"-->
      <form name="signUpForm">
        <label class="item item-input">
            <span class="input-label">Username</span>
                  <input type="text" required>
              </label>
        

        <label class="item item-input">
            <span class="input-label">Password</span>
                  <input type="text" required>
              </label>


        <label class="item item-input">
            <span class="input-label">Confirm Password</span>
                  <input type="text" required>
              </label>
        
        <br>
        <button type="submit">Sign Up!</button>
      
      </form>

      <br><br>

        <button ng-click="logIn()">Already have an account?</button>

      </ion-content>
    </ion-view>
  </script>

  <script type="text/ng-template" id = "forgot.html">
    <ion-content> 
      
      <h1>Forgot Info</h1>
      <br>    
      <form name="loginForm">

        <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email"  required>
         </label>

      </form>
      <br>

      <button>Retrieve Information!</button>

    </ion-content>
  </script>

  </body>
</html>
