<ion-view>
	<ion-content>	
		<div class = "list">
			<br><br>
			<h1>Welcome</h1>		
		</div>
			<form ng-submit="login(loginForm)" novalidate="novalidate" name="loginForm">

				<label class="item item-input">
		    		<span class="input-label">Username</span>
                	<input type="email" placeholder="Enter username" ng-model="username" ng-required="true">
            	</label>				

				<label class="item item-input">
		    		<span class="input-label">Password</span>
                	<input type="password" placeholder="Enter password" ng-model="pWord" ng-required="true">
            	</label>
				
				<br>
				<button type="submit">Login</button>
			
			</form>

			<br>
			
			<div ng-controller="buttonController">								
				<button ng-click="forgot()">Forgot Password?</button>
				<br><br>
				<button ng-click="signUp()">Don't have an account?</button>
			</div>
			
	</ion-content>
</ion-view>